# Server
PORT=4000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb://<username>:<password>@host:port/dbname

# місто для моніторингу
CITY_NAME=Sumy
LAT=50.9077
LON=34.7981
RADIUS_M=25000

# параметри для запиту
AQ_PARAMETERS=pm2_5,pm10,nitrogen_dioxide,ozone,sulphur_dioxide,carbon_monoxide

# fetch кожну годину
CRON_SCHEDULE=0 * * * *

ADMIN_TOKEN=your_admin_token_here

FORECAST_DAYS=0
PAST_DAYS=30
BLOCK_FUTURE=true
